{% extends 'template.html' %}
{% load static %}

{% block title %}Ресурсы{% endblock %}
{% block page_title %}Ресурсы{% endblock %}

{% block content %}

    {% for resource in resources %}
        <div>
					  <a href="{% url 'resource' resource.pk %}">{{ resource.title }}</a>
  					<br>
					  {% if resource.main_image %}
    					  <img style="margin-right: 10px; width: 150px;" src="{{ resource.main_image.image }}">
					  {% endif %}
					  <span style="font-size: 0.8rem;">{{ resource.status }}</span>
					  {% if resource.fabric_maker %}
    					  <span style="font-size: 0.8rem;"> | Фабрика: {{ resource.fabric_maker.title }}</span>
					  {% endif %}
				</div>
        <br>
    {% endfor %}

{% endblock %}
